*{
    margin: 0;
    font-family:verdana;
}
img {
    max-width: 100%;
    display: block;
}
body{
    background-color: rgb(5, 5, 5);
    height: 100px;

}
header {
    padding: 0px 10px;
    background-color: rgb(5, 5, 5);
    z-index: 1;
    position: relative;
}

.interface {
    display: grid;
    grid-auto-flow: column;
}

.completo{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
}

.logo-adaga {
    margin-left: 20px;
}

.logo-adaga img {
    max-width: 60px;
    height: auto;
    margin-right: 10px;
}

.titulo {
    font-size: 20px;
    color: rgb(241, 235, 235);
    margin-top: 30px;


}

.menu {
    display: grid;
    grid-auto-flow: column;
    
}


.item {
    font-weight: bold;
    text-decoration: none;
    color: #f1f1f1;
    display: inline-block;
    position: relative;

    margin: 30px;
    font-size: 20px;
    padding: 10px 10px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height:100%;

        background-color: rgb(236, 7, 7);
        
        z-index: -1;
        transition: .7s ease;
    }

    &::before{
        width: 0;
        height: 150%;
    }

    &:hover{
        &:before{
            width: 100%;
        }
    }
}


.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    padding: 30px;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 80px;
    max-width: 100%;
}

.introducao h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    color: #fafafa;
}

.introducao p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #f5f4f4;
}

.introducao a {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(rgb(202, 85, 85),rgb(211, 57, 57) );
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    text-transform: uppercase;
    color: rgb(42, 42, 44);
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
    text-decoration: none;
}

.texto {
    align-self: end;
    padding-bottom: 80px;
}


