/* teste*/
*{
    margin: 0;
    font-family:Spiegel, "Arial Narrow", Arial, sans-serif;
    margin-right: 0;

}

img {
    max-width: 100%;
    display: block;
}
body{
    background-color: rgb(5, 5, 5);
    height: 100px;
}

header {
    padding: 10px;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 3;

}

.interface {
    display: grid;
    grid-template-columns: 20% 30%;
    gap: 1250px;
}

.completo{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 20px;
    justify-content: start;
}

.logo-adaga {
    margin-left: 20px;
}

.logo-adaga img {
    max-width: 60px;
}

.titulo {
    font-size: 20px;
    color: #ffffff;
}

.menu {
    display: grid;
    grid-auto-flow: column;
}


.item {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;

    width: 100%;
    height: 100%;

    align-content: center;
    text-align: center;

    border-radius: 12px;
    transition: background-color 0.7s ease, color 0.4s ease;
}

.item:hover
{
    background-color: #ff0000;
    color: #000000; 
}


.introducao {
    gap: 80px 40px;
    padding: 30px;
    display: grid;
    grid-template-columns: 2485px;
    grid-column: 200px 200px 200px;
    text-align: center;
    justify-content: center;
    
}

.introducao h2 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    color: #fafafa;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 450px;
}
.texto {
    display: grid;
    justify-content: center;
    text-align: center;
}

.introducao p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #f5f4f4;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    max-width: 1000px;
    
}

.introducao a {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(rgb(202, 85, 85),rgb(211, 57, 57) );
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    text-transform: uppercase;
    color: rgb(42, 42, 44);
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.7s ease, color 0.4s ease;
    
}
.secao-video {
    width: 100%;
    height: 1300px;
    position: relative;
}
.video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.video-background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.opgg:hover {
    background: linear-gradient(rgb(212, 45, 45),rgb(255, 4, 4) );0;
    color: #000000;
}

.texto {
    align-self: ;
    padding-bottom: 80px;
}
